@{
    ViewBag.Title = "Home Page";
    ViewBag.Id = "123";
}


<body>



    <script>
        dslApp.controller('DirectLineOrderMgrController', ['$scope', '$filter', '$http', '$timeout', function (scope, filter, http, timeout) {


            var req = {
                method: 'POST',
                url: '/DirectLine/GetEbayOrderData'

            }

            scope.isLoaded = false;

            http(req).then(function (res) {



                scope.totalRec = res.data.length;

                scope.displayedCollection = res.data;
                scope.test = res.data;


                scope.isLoaded = true;


            });





        }]);
    </script>

    <div ng-app="88DslApp" ng-controller="DirectLineOrderMgrController">


        <div class="pagetitle">


            {{title}}

            <div style="float:right">
                <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" ng-click="AddClick();">Add</button>



                <select style="height:34px; font-size:14px" ng-model="itemsByPage">
                    <option value="10">Show 10 Records In One Page</option>
                    <option value="20">Show 20 Records In One Page</option>
                    <option value="20">Show 30 Records In One Page</option>
                </select>
            </div>
        </div>



        <table st-table="displayedCollection" st-safe-src="test" class="table table-striped">


            <thead>

                <tr>
                    <th colspan="8">
                        <input st-search="Address" placeholder="Search For Address" value="" class="input-sm form-control" type="search" style="width:200px;float:left" />

                        <div style="float:right">


                            <div ng-show="isLoaded" style="float:left;line-height:44px">{{totalRec}} Records</div>


                            <div ng-show="isLoaded==false" style="float:left;line-height:44px"><img src="~/Images/loading.gif" />Loding Data</div>

                            <div style="float:right; margin:4px" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="selPageSize"></div>



                        </div>
                    </th>




                </tr>


             
 

                <tr>
                    <th st-sort="BuyerName">Buyer Name</th>
                    <th st-sort="BBCode">B BCode</th>
                    <th st-sort="Quantity">Quantity</th>
                    <th st-sort="Status">Status</th>

                  

                    <th>Action</th>


                </tr>

            </thead>
            <tbody>
                                
                <tr ng-repeat="row in displayedCollection">
                    <td>{{row.BuyerName}}</td>
                    <td>{{row.BBCode}}</td>
                    <td>{{row.Quantity }}</td>
                    <td>{{row.Status}}</td>
   
                    <td>
                        <div class="btn-group" style="float:left; margin-top:0px; margin-right:12px;line-height:70px">
                            <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                English
                                <span class="caret"></span>
                            </button>
                      
                        </div>
                    </td>
                </tr>
            </tbody>



        </table>

    </div>

</body>
