body {
    padding-top: 50px;
    padding-bottom: 20px;
}


td  {


    vertical-align:middle;
    border-right:1px solid #dddddd;
      border-left:1px solid #dddddd;

      word-break:break-all;
      min-width:80px;
         border-bottom:1px solid #dddddd
}

.st-sort-ascent:before {
    content: '\25B2';
}


.st-sort-descent:before {
    content: '\25BC';
}


 th  {
    border-right:1px solid #dddddd;
     border-left:1px solid #dddddd
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  
}

.pagetitle {

    font-size:20px;
    margin-bottom:5px;
    background-color:#5d5d5d;
    height:40px;
    color:white;
    padding:3px;

}
