@{
    ViewBag.Title = "Home Page";
    ViewBag.Id = "123";
}


<body>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <style>
        td {
            border: 1px solid #dddddd;
            padding: 10px;
        }
    </style>
    <script>
        dslApp.controller('PayPalFormController', ['$scope', '$filter', '$http', '$timeout', function (scope, filter, http, timeout) {

            scope.title = "Home/User";



        }]);
    </script>

    <div ng-app="88DslApp" ng-controller="PayPalFormController">
   
              

        <div id="paypal-button"></div>
    </div>

</body>
