@{
    ViewBag.Title = "Home Page";
    ViewBag.Id = "123";
}


<body>



    <script>
        dslApp.controller('ProductMgrController', ['$scope', '$filter', '$http', '$timeout', function (scope, filter, http, timeout) {


            var req = {
                method: 'POST',
                url: '/Admin/GetAllProductData'

            }

            http(req).then(function (res) {



                scope.totalRec = res.data.length;

                scope.displayedCollection = res.data;
                scope.test = res.data;



            });




        }]);
    </script>

    <div ng-app="88DslApp" ng-controller="ProductMgrController">


     
        <div class="pagetitle">


            {{title}}

            <div style="float:right">
                <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" ng-click="AddClick();">Add</button>
             
               

                <select style="height:34px; font-size:14px" ng-model="itemsByPage">
                    <option value="10">Show 10 Records In One Page</option>
                    <option value="20">Show 20 Records In One Page</option>
                    <option value="20">Show 30 Records In One Page</option>
                </select>
            </div>
        </div>



        <table st-table="displayedCollection" st-safe-src="test" class="table table-striped">


            <thead>

                <tr>
                    <th colspan="8">
                        <input st-search="ItemCode"  placeholder="Search For ItemCode" value="" class="input-sm form-control" type="search" style="width:200px;float:left" />

                        <div style="float:right">


                            <div style="float:left;line-height:44px">{{totalRec}} Records</div>
                            <div style="float:right; margin:4px" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="selPageSize"></div>



                        </div>
                    </th>
                  

              
         
                </tr>

           
                <tr>
                    <th st-sort="ProductName">Product Name</th>
                    <th st-sort="ItemCode">Item Code</th>
                    <th st-sort="ShippingCharges">Shipping Charges</th>

                                      
                    <th st-sort="RegisteredFee">Registered Fee</th>

                    <th st-sort="ServiceFee">Service Fee</th>       


                    <th >Action</th>

                
                </tr>
        
            </thead>
            <tbody>
                     

                <tr ng-repeat="row in displayedCollection">
                    <td>{{row.ProductName}}</td>
                    <td>{{row.ItemCode}}</td>
                    <td>{{row.ShippingCharges }}</td>
                    <td>{{row.RegisteredFee}}</td>
                    <td>{{row.ServiceFee}}</td>
             
    
                    <td>
                        <div class="btn-group" style="float:left; margin-top:0px; margin-right:12px;line-height:70px">
                            <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                English
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" style="min-width:100px">
                                <li><a  target="_top"  href="~/Admin/ProductDetail?id={{row.ProductId }}">Edit</a></li>
                                <li><a href="#">Remove</a></li>

                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>



        </table>

    </div>

</body>
